.button {
  
  /*border: 1px;
  text-align: center;*/
  text-decoration: none;
  padding-top: 1%;
  font-size: var(--lexicon-textSize);
  
  cursor: pointer;
}


table.center{
	/*width:70%;
	margin-left: 15%;
	margin-right: 15%;*/
	margin-top: 10%;
	margin-left: 25%;
	margin-bottom: 2%;
	font-size: var(--main-textSize);

}
th, td{
	border: 1px solid black;
	width: var(--boxSize);
	height: var(--boxSize);
	background-color: white;
	text-align: center;
	vertical-align:bottom;
	overflow: scroll;
	
	/*cursor: pointer;*/
}



.image{
	width:var(--boxSize);
	
	/*padding-left: 0px;
	padding-right: 0px;*/
	padding-bottom: 30px;
}
.imageRelated{
	width:100px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 50px;
}
.imageTools{
	width:150px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
}
.LinkToImage{
	color:black;
	text-decoration: underline;
	cursor: pointer;
}



ul{
	text-align: center;
	padding:5px;
	padding-bottom: 26px

	font-size: var(--main-textSize);
	font-family: "courier";
    list-style-type: none;
    line-height: var(--main-lineHeight);;
    
}

div.scrollable {
    width: 90%;
    height: 90%;
    margin-top: 0;
    padding:5%;
    
    overflow: auto;
    overflow-x: hidden;
    font-size: var(--scrollBox-textSize);
	font-family: "courier";
    list-style-type: none;
    line-height: var(--scrollBox-lineHeight);
}
div.scrollable_lexicon {
    width: 90%;
    height: 90%;
    margin-top: 5%;
    padding:5%;
    
    overflow: auto;
    font-size: var(--lexicon-textSize);
	font-family: "courier";
    list-style-type: none;
    line-height: var(--scrollBox-lineHeight);
}

button{
	font-family: "courier";
}
